@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default theme */
:root {
  --theme-text: rgb(0, 140, 255);
  --theme-border: #0050a1;
  --theme-border-2: #00c4ff;
}

/* Green theme */
[data-theme="green"] {
  --theme-text: #00ff00;
  --theme-border: #006400;
}

/* Blue theme */
[data-theme="blue"] {
  --theme-text: #00ffff;
  --theme-border: #0000ff;
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*  width: 0px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  border-radius: 0px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: rgba(0,0,0,50%);*/
/*  border-radius: 0px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: rgba(0,0,0,50%);*/
/*}*/

:root {
  /* font-family: Hack, monospace; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

  color: rgb(125, 225, 253);
  background-color: #111;
  /*background: linear-gradient(90deg, #0a0a0a 0%, #111 50%, #0a0a0a 100%);*/
  font-family: pixelfont, monospace;
  text-shadow: 2px 2px 0 #363636;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

a {
  font-weight: 500;
  color: #f843e9;
  /*text-decoration: #00c4ff;*/
  /*text-underline: #00aa00;*/
  /*text-decoration-line: blink;*/
  /*text-decoration: inherit;*/
}
a:hover {
  color: #fa9bf2;
}
pre {
  font-family: pixelfont, monospace;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  text-indent: initial
}

#ascii-logo pre {
  text-shadow: 6px 6px 0 #363636;
  min-width: 750px
}


::-moz-selection {
  background-color: #0a0;
  text-shadow: none;
  color: #000
}

::selection {
  background-color: rgba(0, 172, 0, .99);
  text-shadow: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 12px
}

::-webkit-scrollbar:horizontal {
  height: 12px
}

::-webkit-scrollbar-corner {
  background: #555
}

::-webkit-scrollbar-track {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAHklEQVQImWP8//8/AwwwBi76zwJjMDAwMDIwMDACAJddBuvMdywUAAAAAElFTkSuQmCC)
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button:vertical:start, ::-webkit-scrollbar-button:vertical:end,
::-webkit-scrollbar-button:horizontal:start, ::-webkit-scrollbar-button:horizontal:end{
  background: rgba(0, 117, 154, 0.48);
//background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEWqqqpVVVWzGxUgAAAADElEQVQI12NwYHIAAAEIAIPJpZSRAAAAAElFTkSuQmCC)
}

::-webkit-scrollbar-button:horizontal:start:decrement, ::-webkit-scrollbar-button:horizontal:end:increment, ::-webkit-scrollbar-button:vertical:start:decrement, ::-webkit-scrollbar-button:vertical:end:increment {
  display: block
}

@font-face {
  font-family: pixelfont;
  src: url('/fonts/IBM/WebPlus_IBM_VGA_8x16.woff');
}



